@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(./Raleway/Raleway-Regular.ttf);
}
@font-face{
	font-family: 'Domine';
	font-style: normal;
	font-weight: 400;
	src: local('Domine'), url(./Domine/Domine-Regular.ttf);
}
html {
	background: url(./resources/brushed.png);
}
p {
	text-indent: 4%;
}
body {

	font-family: 'Raleway';
	letter-spacing: 4px;
	margin-bottom: 20%;
}
header {
	font-family: 'Domine';
	letter-spacing: normal;
	text-align: center;
}

h4 {
	text-decoration: underline;
}
#main-menu {
	margin-left: 0%;
	display: inline-block;
}
#main-menu ul {
	list-style-type: none;
}
#my_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
#work {
	cursor: pointer;
	cursor: hand;

}
#about {
	cursor: pointer;
	cursor: hand;
}
a {
	text-decoration: none;
	color: black;
	cursor: pointer;
	cursor: hand;
}
.dense_text {
	font-size: 85%;
	width: 80%;
	padding-left: 5%;
	line-height: 200%;
	font-family: 'Domine';
	letter-spacing: normal;
	text-align: left;
}
#return {
	cursor: pointer;
	cursor: hand;
	display: inline;
}
footer {
	bottom: 0%;
	text-align: center;
	position: fixed;
	overflow: hidden;
	width: 40%;
	margin-left: 30%;
}
#rpi_logo img{
	width: 13%;
	height: 13%;
}
#rpisec_logo img {
	width: 50%;
	size: 50%;
}
#fiji_logo img {
	width: 8%;
	size: 8%;
}